@import "../../base/icon.css";
.ui-dialog {
  border: 1px solid #cccccc;
  -webkit-box-shadow: 1px 1px 2px #ccc; -moz-box-shadow: 1px 1px 2px #ccc; box-shadow: 1px 1px 2px #ccc;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -125px 0 0 -200px;
  z-index: 1;
  outline: none;
  display: none;
  background: #ffffff;
  vertical-align: middle;
  -webkit-transition: all .5s ease; -moz-transition: all .5s ease;  -o-transition: all .5s ease; transition: all 1s ease;
}
.dialog-content {
  width: 400px;
  height: 250px;
}
.dialog-shade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .6;
  filter: alpha(opacity = 60);
  z-index: 0;
  background: #fbfbfb;
}
.dialog-tab {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}
.dialog-title h2{
  font-size: 15px;
  padding: .5em 0 .5em 1em;
  height: 2em;
  line-height: 2em;
  border-bottom: 1px solid #f0f0f0;
}
.icon-close {
  padding: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #0e7fd4;
  float: right;
  display: block;
}
.dialog-main {
  padding: 10px;
}
.dialog-foot {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.dialog-ok, .dialog-cancel, .btn, .no-model {
  margin-right: 2em;
  padding: .5em 1em;
  background: #0e7fd4;
  color: #fff;
  border: 1px solid #2d78f4;
  outline: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-transition: border .25s ease-in-out, box-shadow .25s ease-in-out;
  -moz-transition: border .25s ease-in-out, box-shadow .25s ease-in-out;
  -webkit-transition: border .25s ease-in-out, box-shadow .25s ease-in-out;
  transition: border .25s ease-in-out, box-shadow .25s ease-in-out;
}
.dialog-ok:focus, .dialog-cancel:focus, .btn:focus, .no-model:focus {
  background: #046ab6;
  border: 1px solid #2d78f4;
}
.no-model {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
}
input[type = 'checkbox'] {
  vertical-align: middle;
}
